<!doctype html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %} - Router Twig test</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="public/css/custom.css">

    {% endblock %}
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Hello World</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Accueil</a></li>
            {% if isOnline() %}
            <li><a class="btn btn-flat red white-text waves-effect" href="/logout">Déconnexion</a></li>
            {% else %}
            <li><a class="btn btn-flat blue white-text waves-effect" href="/login">Connexion</a></li>
            <li><a class="btn btn-flat green white-text waves-effect" href="/register">Inscription</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
{% block content %}

{% endblock %}

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="public/js/index.js"></script>
{% block javascript %}
{% endblock %}
</body>
</html>