{% extends "base.html.twig" %}
{% block title %}Accueil{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {{ parent() }}
<div class="container row center">
    <h1>Accueil</h1>
    {% if isOnline() %}
        <p>Bienvenue {{ user().username }}</p>
        <a class="btn btn-flat red white-text waves-effect" href="/logout">Déconnexion</a>
    {% else %}
        <p>Vous n'etes pas connecté !</p>
        <a class="btn btn-flat blue white-text waves-effect" href="/login">Connexion</a>
        <a class="btn btn-flat green white-text waves-effect" href="/register">Inscription</a>
    {% endif %}
</div>


{% endblock %}
