{% extends "base.html.twig" %}
{% block title %}Login{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {{ parent() }}


    <div class="container row center">
        <h1>Connexion</h1>
        <form id="loginForm" class="col s12">
            <div class="row">

                <!--  Input username  -->
                <div class="input-field col s12">
                    <input name="username" placeholder="Entrer votre pseudo" id="username" type="text" required>
                    <label for="username">Pseudo</label>
                    <p id="username-status" class="left red-text status-text"></p>
                </div>

                <!--  Input password  -->
                <div class="input-field col s12">
                    <input name="password" id="password" type="password" placeholder="Entrer votre mot de passe"  required>
                    <label for="password">Mot de passe</label>
                    <p id="password-status" class="left red-text status-text"></p>
                </div>

            </div>
            <!-- Button send  -->
            <div class="row">
                <div class="col s12">
                    <p id="connect-status" class="red-text status-text"></p>
                </div>

                <div class="col s12">
                    <button class="btn btn-flat green white-text" type="submit">Connexion</button>
                </div>
            </div>

        </form>
    </div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
    document.getElementById("loginForm").addEventListener("submit",loginForm);
</script>

{% endblock %}
